
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
 </script>
 <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.2/umd/popper.min.js">
 </script>
 <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
 <script type="text/javascript"
  src="https://momentjs.com/downloads/moment-timezone-with-data.js">
 </script>
 <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js">
 </script>
 <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
 </script>

 <script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.2.0/js/bootstrap-colorpicker.min.js">
 </script>


 <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>

 <script src="/js/form-validation.js"></script>


<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2020 GV</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="https://github.com/gregv/meeting-timeline">Public GitHub</a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/feed/update/urn:li:activity:6726617520155045888/">LinkedIn Post</a></li>
  </ul>
</footer>
